// Base colors
$red: #e3342f;
$blue: #3490dc;
$green: #38c172;
$orange: #f6993f;
$yellow: #ffed4a;

// Font sizes
$font-scale: 6;

// Widths and heights
$size-scale: 10;

// Margins and paddings
$spacing-scale: 6;
$spacing-unit: 0.5rem;
